<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">


    <!-- board Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">게시판</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="contact-form bg-light rounded p-5">
                        <div id="board_view">
                            <!-- board Form Start -->
                            <table class="table table-hover" style="margin-left: auto; margin-right:auto;">
                                <tr>
                                    <th>글번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                                <tr th:each="board: ${boardList}">
                                    <td th:text="${board.id}"></td>
                                    <td><a th:href="@{|/yummy/board/${board.id}|}"
                                           th:text="${board.boardTitle}"></a></td>
                                    <td th:text="${board.boardWriter}"></td>
                                    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${board.boardHits}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary py-md-3 px-md-3 mt-2" onclick="saveReq()">글쓰기</button>
                        </div>
                        <!-- page start -->
                        <div class="pagination justify-content-center">

                            <li class="page-item">
                                <!-- 1페이지로 -->
                                <!-- /board?page=1 -->
                                <a class="page-link" th:href="@{/yummy/board(page=1)}" aria-level="First">
                                <span aria-hidden="true"><i class="fa fa-angle-double-left"
                                                            aria-hidden="true"></i> </span>
                                </a>
                            </li>

                            <!-- 이전 링크 활성화 비활성화 -->
                            <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
                            <li th:class="${boardList.first} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${boardList.first} ? '#' :@{/yummy/board(page=${boardList.number})}"
                                   aria-level="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                </a>
                            </li>


                            <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                           for(int page=startPage; page<=endPage; page++)-->

                            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                th:class="(page == boardList.number + 1) ? 'active'">
                                <a class="page-link" th:text="${page}"
                                   th:href="@{/yummy/board(page=${page})}">
                                </a>
                            </li>


                            <!-- 다음 링크 -->
                            <li th:class="${boardList.last} ? 'disabled' ">
                                <a class="page-link"
                                   th:href="${boardList.last} ? '#' : @{/yummy/board(page=${boardList.number + 2})}"
                                   aria-level="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>

                            <li class="page-item">
                                <!-- 마지막 페이지로 이동 -->
                                <a class="page-link" th:href="@{/yummy/board(page=${boardList.totalPages})}"
                                   aria-level="Last">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right"
                                                                aria-hidden="true"></i></i> </span>

                                </a>
                            </li>

                        </div>
                        <!-- page end -->

                        <!-- search box start -->

                        <!-- search box end -->


                        <!-- board Form End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- board End -->

    <th:block layout:fragment="script">
        <script>
function saveReq() {
    location.href = "/yummy/save";
}

function pagingReq() {
    location.href = "/yummy/board/paging";
}
    </script>
    </th:block>
</div>


</body>

</html>
