<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">


    <!-- detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">게시판</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="contact-form bg-light rounded p-5">
                        <div id="detail_view"></div>

                        <button class="btn btn-primary py-md-3 px-md-3 mt-2" onclick="listReq()">목록</button>
                        <button class="btn btn-primary py-md-3 px-md-3 mt-2" onclick="updateReq()">수정</button>
                        <button class="btn btn-primary py-md-3 px-md-3 mt-2" onclick="deleteReq()">삭제</button>
                        <br/>

                        <!-- detail Form Start -->
                        <div class="title_info">
                            <strong class="board_title" tabindex="0">
                                <h2 th:text="${board.boardTitle}"></h2>
                            </strong>

                            <div class="info_desc">
                                <div class="writer_info">
                                    <strong>작성자 </strong><span th:text="${board.boardWriter}"></span><br/>
                                    <strong>조회수 </strong><span th:text="${board.boardHits}"></span><br/>
                                    <strong>작성일 </strong><span th:text="${board.boardCreatedTime}"></span><br/>

                                </div>

                            </div>

                            <div id="board_content" class="board_content">
                                <table class="protectTable" id="protectTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div id="user_contents" class="board_post tx-content-container">
                                                <span th:text="${board.boardContents}"></span>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${board.fileAttached == 1}">
                                        <td th:each="fileName: ${board.storedFileName}" th:inline="text">
                                            <br/>
                                            <img th:src="@{|/upload/${fileName}|}" alt="">


                                        </td>
                                    </tr>
                                    </tbody>

                                </table>


                            </div>


                        </div>


                        <!-- detail Form End -->


                        <!-- comment write start -->
                        <div class="card" id="comment-write">
                            <div class="card-body"><textarea class="form-control" rows="1"></textarea></div>
                            <div class="card-footer">
                                <button class="btn btn-outline-dark" onlick="commentWrite()">등록</button>
                            </div>
                        </div>
                        <!-- comment write end -->
                        <br/>
                        <!-- comment output start -->
                        <div class="card" id="comment-list">
                            <div class="card-header">댓글</div>
                            <ul id="comment-box" class="list-group">
                                <li id="comment--1" class="list-group-item d-flex justify-content-between">
                                    <div>댓글내용</div>
                                    <div class="d-flex">
                                        <div class="font-italic" th:value="${boardUpdate.boardWriter}">&nbsp;</div>
                                        <button class="badge badge-secondary">삭제</button>

                                    </div>
                                </li>
                            </ul>


                        </div>

                        <!-- comment output start -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- detail End -->

</div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript">

    function listReq() {
        console.log("목록 요청");
        location.href = "/yummy/board?page="+[[${page}]];
    }
    function updateReq() {
        console.log("수정 요청");
        const id = [[${board.id}]];
        location.href = "/yummy/board/update/" + id;
    }
    function deleteReq() {
        console.log("삭제 요청");
        const id = [[${board.id}]];
        location.href = "/yummy/board/delete/" + id;
    }


    function commentWrite() {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);

        const id = [[${board.id}]]; //게시글번호
        $.ajax({
            // 요청방식 : post, 요청주소 : /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/comment/save",
            data: {
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
               console.log("요청성공", res);
               let output = "<table>";
               output += "<tr><th>댓글번호</th>";
               output += "<th>작성자</th>";
               output += "<th>내용</th>";
               output += "<th>작성시간</th></tr>";
               for (let i in res) {
                   output += "<tr>";
                   output += "<td>" + res[i].id + "</td>";
                   output += "<td>" + res[i].commentWriter + "</td>";
                   output += "<td>" + res[i].commentContents + "</td>";
                   output += "<td>" + res[i].commentCreatedTime + "</td>";
                   output += "</tr>";
               }
               output += "</table>";
               document.getElementById('comment-list').innerHTML = output;
               document.getElementById('commentWriter').value = '';
               document.getElementById('commentContents').value = '';
           },
            error: function(err){
                console.log("요청 실패", err);
            }
        });
    }



    </script>
</th:block>
</body>


</html>