<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">
    <!-- Join Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">회 원 가 입</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="contact-form bg-light rounded p-5">
                        <div id="join_input"></div>
                        <!-- join Form Start -->
                        <form novalidate="novalidate">

                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="username" name="username"
                                       placeholder="아이디를 입력해주세요" required="required"
                                       data-validation-required-message="아이디를 입력하세요"/>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <input type="password" class="form-control p-4" id="password" name="password"
                                       placeholder="비밀번호" required="required"
                                       data-validation-required-message="비밀번호를 입력해주세요"/>
                                <p class="help-block text-danger"></p>
                            </div>


                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="email" name="email"
                                       placeholder="이메일" required="required"
                                       onblur="emailCheck()"
                                       data-validation-required-message="이메일을 입력하세요"/><br>
                                <p id="check-result"></p>
                                <!--
                                <input type="button" value="중복확인" class="btn btn-primary py-md-3 px-md-5 mt-2"
                                       onclick="#"> -->

                                <p class="help-block text-danger"></p>
                            </div>


                            <!--

                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="memberPhone" name="memberPhone"
                                       placeholder="휴대폰번호를 입력해주세요" required="required"
                                       data-validation-required-message="휴대폰번호를 입력하세요"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-6 control-group">
                                    <input type="text" class="form-control p-4" id="memberPost" name="memberPost"
                                           placeholder="우편번호" readonly required="required"
                                           data-validation-required-message="우편번호를 입력해주세요"/>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="col-sm-6 control-group">
                                    <input type="button" class="btn btn-primary py-md-3 px-md-5 mt-2" value="주소찾기"
                                           onclick="#"/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="memberAddress1" name="memberAddress1"
                                       placeholder="주소를 입력해주세요" readonly required="required"
                                       data-validation-required-message="주소를 입력하세요"/>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="memberAddress2" name="memberAddress2"
                                       placeholder="상세주소를 입력해주세요" required="required"
                                       data-validation-required-message="상세주소를 입력하세요"/>
                                <p class="help-block text-danger"></p>
                            </div>
-->


                        </form>
                        <!-- Join Form End -->
                        <button class="btn btn-primary btn-block py-3 px-5" id="btn-save">확인</button>
                        <button class="btn btn-secondary btn-block py-3 px-5" type="submit" id="joinFormNo">취소</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Join End -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:src="@{/webtemplate/js/user.js}"></script>

    <!-- 외부 js파일은.. fragment태그 안에 넣어야 작동됨. -->

</div>


<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- 고유 스크립트 추가 -->
<!--
<th:block layout:fragment="script">

    <script th:inline="javascript">
    function emailCheck() {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("check-result");

        $.ajax({
            type:"POST",
            url:"/yummy/email-check",
            data:{
                "memberEmail": email
            },
            success: function(resp){
                if(resp == "ok") {
                    console.log("사용 가능한 이메일입니다");
                    checkResult.style.color = "green";
                    checkResult.innerHTML = "사용가능한 이메일";
                } else {
                    console.log("이미 사용중인 이메일입니다");
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 이메일";
                }

            },

            error: function(err) {
                console.log("에러발생", err);
            }


        });

    }
    </script>
    -->

    <!--    <script th:src="@{/webtemplate/js/user.js}"></script>-->
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

</body>
</html>