<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

<!-- 글작성 Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">글쓰기</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="contact-form bg-light rounded p-5">
                        <div id="board_write_input"></div>
                        <!-- action: 목적지, method: http request method(get, post..)-->
                        <form action="/yummy/save" method="post"  name="saveForm" id="saveForm" novalidate="novalidate" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col-sm-6 control-group">
                                    <input type="text" class="form-control p-4" id="boardWriter" name="boardWriter" placeholder="작성자" required="required" data-validation-required-message="이름을 적어주세요" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="col-sm-6 control-group">
                                    <input type="text" class="form-control p-4" id="boardPass" name="boardPass" placeholder="비밀번호를 입력하세요" required="required" data-validation-required-message="비밀번호를 입력하세요" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="boardTitle" name="boardTitle" placeholder="제목" required="required" data-validation-required-message="제목을 입력하세요" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control p-4" rows="6" id="boardContents" name="boardContents" placeholder="내용을 입력하세요" required="required" data-validation-required-message="내용을 입력하세요"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="file" name="boardFile" multiple><br>

                            </div>
                            <div>
                                <input class="btn btn-primary btn-block py-3 px-5" type="submit"
                                       value="글작성"/>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 글작성 End -->


</div>
</body>
</html>